<h1><%= gettext("Edit Todo") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.todo_path(@conn, :update, @todo)) %>

<span><%= link gettext("Back"), to: Routes.todo_path(@conn, :index) %></span>
