<h1><%= gettext("New Todo") %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.todo_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.todo_path(@conn, :index) %></span>
